<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HomePage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
      body 
      {
        background: linear-gradient(rgba(0, 128, 0, 0.1) 1px, transparent 1px),
                    linear-gradient(90deg, rgba(0, 128, 0, 0.1) 1px, transparent 1px);
        background-size: 20px 20px;
        background-color: #f0f0f0;
      }
</style>
  </head>
  <body>
    <h1 class="mx-3 my-4">Choose what to visit!</h1>
    <ul class="list-group">
      <li class="list-group-item">-> For admin, <a href="/admin">click here!</a> or go to http://127.0.0.1:8000/admin/.</li>
      <li class="list-group-item">-> For Function based 'GET' and 'POST', <a href="list/">click here!</a> or go to http://127.0.0.1:8000/list/.</li>
      <li class="list-group-item">-> For Function based 'CRUD', go to http://127.0.0.1:8000/detail/(Enter article number to visit for the 'get' method)/ 'or' send request via postman to perform 'get', 'put', and 'delete' methods.</li>
      <li class="list-group-item">-> For Class based 'GET' and 'POST'<a href="article/">click here!</a> or go to http://127.0.0.1:8000/article/.</li>
      <li class="list-group-item">-> For Class based 'CRUD', go to http://127.0.0.1:8000/details/(Enter article number to visit for the 'get' method)/ 'or' send request via postman to perform 'get', 'put', and 'delete' methods.</li>
      <li class="list-group-item">-> For GenericAPIView, go to http://127.0.0.1:8000/generic/article/(Enter article number to visit)/ , via postman with authentication credentials.</li>
      <li class="list-group-item">-> For ViewSet based 'GET' and 'POST', <a href="/viewset">click here!</a>, or go to http://127.0.0.1:8000/viewset/ and follow the router link.</li>
      <li class="list-group-item">-> For ViewSet based 'DELETE' and 'UPDATE', go to http://127.0.0.1:8000/viewset/article/(Enter article number to visit)/.</li>
    </ul>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>